.main {

   margin-top: 10vh;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 500;
   font-size: 18px;
    .clientFormForSale {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        gap: 10px;
        border-radius: 7px;
        padding:7px 7px 7px 7px;
      &__tokenCase {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        &Label {}
        &Input {
width: 200%;
height: 25px;
border: 1px solid rgb(196, 196, 196);
border-radius: 7px;
        }
      }
      &__phoneCase {
           display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        &Container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        &Input {
            width: 150%;
            height: 25px;
            border: 1px solid rgb(196, 196, 196);
            border-radius: 7px;
                    }
        &Search {
margin-left: 100px;
margin-top: 20px;
width: 20vw;
height: 30px;
border: none;
border-radius: 7px;
background-color: #1677ff;
color: aliceblue;
font-size: 17px;
        }
      }
      &__checkCase {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        &Label {}
        &Input {
width: 200%;
height: 25px;
border: 1px solid rgb(196, 196, 196);
border-radius: 7px;
        }
      }
      &__organizationCase {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        &Label {}
        &Input {
width: 200%;
height: 25px;
border: 1px solid rgb(196, 196, 196);
border-radius: 7px;
        }
      }
      &__warehouseCase {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        &Label {}
        &Input {
width: 200%;
height: 25px;
border: 1px solid rgb(196, 196, 196);
border-radius: 7px;
        }
      }
      &__priceCase {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        &Label {}
        &Input {
width: 200%;
height: 25px;
border: 1px solid rgb(196, 196, 196);
border-radius: 7px;
        }
      }
    }
  }
  .sendBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2px;
    gap: 5px;
   
    &__createAndSend {
      width: 100%;
      height: 35px;
      border: 1px solid grey;
      background-color: rgb(255, 255, 255);
      border-radius: 7px;
      font-size: 17px;
    }
    &__create {
      width: 100%;
      height: 35px;
      border: 1px solid grey;
      background-color: rgb(255, 255, 255);
      border-radius: 7px;
      font-size: 17px;
    }
  }